root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 160
tab_width = 2s
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = false
ij_smart_tabs = false
ij_visual_guides = none
ij_wrap_on_typing = false

[*.dart]
max_line_length = 160

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_before_comma = false
ij_editorconfig_spaces_around_assignment_operators = true

[{*.markdown,*.md,*.mkd}]
max_line_length = 72
ij_markdown_abbreviations_placement = 0
ij_markdown_abbreviations_sort = 0
ij_markdown_attribute_class = 0
ij_markdown_attribute_equal_space = 0
ij_markdown_attribute_id = 0
ij_markdown_attribute_value_quotes = 0
ij_markdown_attributes_combine_consecutive = false
ij_markdown_attributes_sort = false
ij_markdown_attributes_spaces = 0
ij_markdown_atx_header_trailing_marker = 0
ij_markdown_block_quote_markers = 0
ij_markdown_bullet_list_item_marker = 0
ij_markdown_code_fence_marker_length = 3
ij_markdown_code_fence_marker_type = 0
ij_markdown_code_fence_match_closing_marker = false
ij_markdown_code_fence_minimize_indent = false
ij_markdown_code_fence_space_before_info = false
ij_markdown_code_keep_trailing_spaces = 0
ij_markdown_definition_marker_spaces = 3
ij_markdown_definition_marker_type = 0
ij_markdown_enumerated_reference_format_placement = 0
ij_markdown_enumerated_reference_format_sort = 0
ij_markdown_escape_numbered_lead_in_on_wrap = true
ij_markdown_escape_special_chars_on_wrap = true
ij_markdown_footnote_placement = 0
ij_markdown_footnote_sort = 0
ij_markdown_format_with_soft_wrap = 0
ij_markdown_heading_preference = 0
ij_markdown_keep_at_start_explicit_link = 0
ij_markdown_keep_at_start_image_links = 0
ij_markdown_keep_blank_lines = 2
ij_markdown_keep_trailing_spaces = 1
ij_markdown_list_add_blank_line_before = false
ij_markdown_list_align_numeric = 0
ij_markdown_list_ordered_task_item_priority = 1
ij_markdown_list_renumber_items = true
ij_markdown_list_reset_first_item_number = false
ij_markdown_list_spacing = 0
ij_markdown_macro_placement = 0
ij_markdown_macro_sort = 0
ij_markdown_new_bullet_list_item_marker = 1
ij_markdown_para_wrap_text = true
ij_markdown_reference_placement = 0
ij_markdown_reference_sort = 0
ij_markdown_right_margin = 72
ij_markdown_setext_header_equalize_marker = true
ij_markdown_smart_edit_atx_header = true
ij_markdown_smart_edit_setext_header = true
ij_markdown_smart_edit_table_separator_line = true
ij_markdown_smart_edit_tables = false
ij_markdown_smart_enter_atx_header = true
ij_markdown_smart_enter_setext_header = true
ij_markdown_space_after_atx_marker = 1
ij_markdown_tab_size = 4
ij_markdown_table_adjust_column_width = true
ij_markdown_table_apply_column_alignment = true
ij_markdown_table_caption = 0
ij_markdown_table_caption_spaces = 0
ij_markdown_table_fill_missing_columns = true
ij_markdown_table_lead_trail_pipes = true
ij_markdown_table_left_align_marker = 1
ij_markdown_table_space_around_pipe = true
ij_markdown_table_trim_cells = false
ij_markdown_task_list_item_case = 0
ij_markdown_task_list_item_placement = 0
ij_markdown_toc_format_on_save = false
ij_markdown_toc_generate_html = false
ij_markdown_toc_generate_numbered_list = false
ij_markdown_toc_generate_structure = 0
ij_markdown_toc_generate_text_only = false
ij_markdown_toc_heading_levels = 12
ij_markdown_toc_title = Table of Contents
ij_markdown_toc_title_level = 1
ij_markdown_toc_update_on_doc_format = 1
ij_markdown_trailing_spaces_option_1 = 0
ij_markdown_trailing_spaces_option_10 = 0
ij_markdown_trailing_spaces_option_11 = 0
ij_markdown_trailing_spaces_option_12 = 0
ij_markdown_trailing_spaces_option_13 = 0
ij_markdown_trailing_spaces_option_14 = 0
ij_markdown_trailing_spaces_option_15 = 0
ij_markdown_trailing_spaces_option_16 = 0
ij_markdown_trailing_spaces_option_17 = 0
ij_markdown_trailing_spaces_option_18 = 0
ij_markdown_trailing_spaces_option_19 = 0
ij_markdown_trailing_spaces_option_2 = 0
ij_markdown_trailing_spaces_option_20 = 0
ij_markdown_trailing_spaces_option_3 = 0
ij_markdown_trailing_spaces_option_4 = 0
ij_markdown_trailing_spaces_option_5 = 0
ij_markdown_trailing_spaces_option_6 = 0
ij_markdown_trailing_spaces_option_7 = 0
ij_markdown_trailing_spaces_option_8 = 0
ij_markdown_trailing_spaces_option_9 = 0
ij_markdown_unescape_special_chars_on_wrap = true
ij_markdown_use_actual_char_width = true
ij_markdown_verbatim_minimize_indent = false
