# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.vscode/
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# custom
resources/

# mobx
*.inject.summary
*.inject.dart

*.g.dart
lib/main.config.dart
.env
lib/common/config/application_config.dart

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Firebase Hosting
*.log
remoteconfig.template.json
# Build generated
build/
DerivedData/

# Various Xcode settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other Xcode files
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Chrome Extension related
*.pem
*.crx

# Local config/setup
database.rules.json
samples/android/Continote/app/src/main/res/values/strings.xml
samples/chrome-extension/Continote/scripts/config.js
samples/ios/Continote/Continote/Constants.swift
samples/ios/Continote/Continote/Info.plist
samples/ios/Continote/Continote.xcodeproj/project.pbxproj
samples/web/Continote/database.rules.json
samples/web/Continote/public/scripts/config.js

# Libraries for samples
samples/android/Continote/app/libs/*.aar
samples/chrome-extension/Continote/scripts/firebase-continue.js
samples/ios/Continote/Continote/FCNContinue.h
samples/ios/Continote/Continote/FCNContinue.m

# Misc.
.DS_Store
*.swp